
.header {
    background: #000;
}
.header ul li {
    display: inline-block;
    width: 24.5%;
    text-align: center;
    color: #fff;
    font-size: 13px;
    padding: 7px 0;
    letter-spacing: 1px;
    border-right: 1px solid #464444;
}
.header ul li a {
     color: #fff;
    text-decoration: none;
}
.header ul li i {
    margin-right: 12px;
    top: 2px;
    color: #2fdab8;
}
.header-right {
    text-align: right;
}
.header-left{
    text-align: left;	
}
.header-bot_inner_wthreeinfo_header_mid {
    margin: 0 auto;
    width: 90%;
}
 
/****left nav**/
.top_nav_right {
    float: right;
    width: 21%;
}
.box_1 {
    /* background: #2fdab8; */
   padding: 20px 30px; 
    text-align: center;
}
.box_1 h3 {
    color: #fff;
    font-size: 1em;
    margin: 0;
	text-decoration:none;
    margin: 0 0 7px 0;
}
.total i {
    top: 2px;
    left: -5px;
}

.box_1 p {
	margin: 0;
    color: #999;
    font-size: 14px;
}
a.simpleCart_empty {
    color: #fff;
    font-size: 13px;
    text-decoration: none;
    text-align: center;
    display: block;
}
.header-right ul li a:hover {
    transform: rotateY(360deg);
}  

