<!-- Start Products  -->
<div class="products-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                   <h1 class="p-3 mb-5 bg-info rounded text-center">Featured Products</h1> 
                </div>
            </div>
        </div>

      

        <!-- <div class="row">
            <div class="col-lg-12">
                <div class="special-menu text-center">
                    <div class="button-group filter-button-group">
                        <button class="active btn-lg" data-filter="*">Featured Products</button>
                        
                    </div>
                </div>
            </div>
        </div> -->
       
        <div class="row special-list">
            <div class="col-lg-3 col-md-6 special-grid">
                <div class="products-single fix">
                  <a routerLink="/product-details"> <div class="box-img-hover">
                        <div class="type-lb">
                            <p class="sale">Sale</p>
                        </div>
                        <img routerLink="/product-details" src="assets/partyg_kid.jpg" class="img-fluid" alt="Image">
                        <div class="mask-icon">
                          <ul>
                            <li><a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><img src="https://img.icons8.com/material/24/000000/visible--v1.png"></a></li>
                          
                            <li><a routerLink="/wishlist" href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><img src="https://img.icons8.com/metro/26/000000/like.png"></a></li>
                        </ul>
                               <a routerLink="/cart" class="cart" href="#">Add to Cart</a>
                        </div>
                        
                    </div>
                    </a>
                    <div class="why-text">
                        <h4>Men jacket</h4>
                        <h5>2000RS</h5>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 special-grid top-featured">
                <div class="products-single fix">
                  <a routerLink="/product-details"> <div class="box-img-hover">
                        <div class="type-lb">
                            <p class="new">New</p>
                        </div>
                        <img routerLink="/product-details" src="assets/partyg_kid1.jpg" class="img-fluid" alt="Image">
                        <div class="mask-icon">
                          <ul>
                            <li><a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><img src="https://img.icons8.com/material/24/000000/visible--v1.png"></a></li>
                          
                            <li><a routerLink="/wishlist" href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><img src="https://img.icons8.com/metro/26/000000/like.png"></a></li>
                        </ul>
                            <a routerLink="/cart" class="cart" href="#">Add to Cart</a>
                        </div>
                    </div>
                    </a>
                    <div class="why-text">
                        <h4>Running shoe</h4>
                        <h5>1500RS</h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 special-grid top-featured">
                <div class="products-single fix">
                  <a routerLink="/product-details"> <div class="box-img-hover">
                        <div class="type-lb">
                            <p class="sale">Sale</p>
                        </div>
                        <img  routerLink="/product-details" src="assets/partym_kid.jpg" class="img-fluid" alt="Image">
                        <div class="mask-icon">
                          <ul>
                            <li><a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><img src="https://img.icons8.com/material/24/000000/visible--v1.png"></a></li>
                          
                            <li><a routerLink="/wishlist" href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><img src="https://img.icons8.com/metro/26/000000/like.png"></a></li>
                        </ul>
                            <a routerLink="/cart" class="cart" href="#">Add to Cart</a>
                        </div>
                    </div>
                    </a>
                    <div class="why-text">
                        <h4>Yellow Top</h4>
                        <h5>700RS</h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 special-grid best-seller">
                <div class="products-single fix">
                <a routerLink="/product-details"> <div class="box-img-hover">
                        <div class="type-lb">
                            <p class="sale">Sale</p>
                        </div>
                       <img src="assets/tradb_kid.jpg" class="img-fluid" alt="Image"> 
                        <div class="mask-icon">
                            <ul>
                                <li><a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><img src="https://img.icons8.com/material/24/000000/visible--v1.png"></a></li>
                                <li><a routerLink="/wishlist" href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><img src="https://img.icons8.com/metro/26/000000/like.png"></a></li>
                            </ul>
                            <a routerLink="/cart" class="cart" href="#">Add to Cart</a>
                        </div>
                    </div>
                    </a>
                    <div class="why-text">
                        <h4>Red shinny bag</h4>
                        <h5>800RS</h5>
                    </div>
                </div>
            </div>
        </div>
      
<br>
<br>
        <div class="row special-list">
          <div class="col-lg-3 col-md-6 special-grid best-seller">
              <div class="products-single fix">
                <a routerLink="/product-details"> <div class="box-img-hover">
                      <div class="type-lb">
                          <p class="sale">Sale</p>
                      </div>
                      <img routerLink="/product-details" src="assets/partyg_kid.jpg" class="img-fluid" alt="Image">
                      <div class="mask-icon">
                        <ul>
                          <li><a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><img src="https://img.icons8.com/material/24/000000/visible--v1.png"></a></li>
                        
                          <li><a routerLink="/wishlist" href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><img src="https://img.icons8.com/metro/26/000000/like.png"></a></li>
                      </ul>
                             <a routerLink="/cart" class="cart" href="#">Add to Cart</a>
                      </div>
                      
                  </div>
                  </a>
                  <div class="why-text">
                      <h4>Men jacket</h4>
                      <h5>2000RS</h5>
                  </div>
              </div>
          </div>


          <div class="col-lg-3 col-md-6 special-grid top-featured">
              <div class="products-single fix">
                <a routerLink="/product-details"> <div class="box-img-hover">
                      <div class="type-lb">
                          <p class="new">New</p>
                      </div>
                      <img routerLink="/product-details" src="assets/partyg_kid1.jpg" class="img-fluid" alt="Image">
                      <div class="mask-icon">
                        <ul>
                          <li><a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><img src="https://img.icons8.com/material/24/000000/visible--v1.png"></a></li>
                        
                          <li><a routerLink="/wishlist" href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><img src="https://img.icons8.com/metro/26/000000/like.png"></a></li>
                      </ul>
                          <a routerLink="/cart" class="cart" href="#">Add to Cart</a>
                      </div>
                  </div>
                  </a>
                  <div class="why-text">
                      <h4>Running shoe</h4>
                      <h5>1500RS</h5>
                  </div>
              </div>
          </div>

          <div class="col-lg-3 col-md-6 special-grid top-featured">
              <div class="products-single fix">
                <a routerLink="/product-details"> <div class="box-img-hover">
                      <div class="type-lb">
                          <p class="sale">Sale</p>
                      </div>
                      <img  routerLink="/product-details" src="assets/partym_kid.jpg" class="img-fluid" alt="Image">
                      <div class="mask-icon">
                        <ul>
                          <li>  <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><img src="https://img.icons8.com/material/24/000000/visible--v1.png"></a></li>
                        
                          <li><a routerLink="/wishlist" href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><img src="https://img.icons8.com/metro/26/000000/like.png"></a></li>
                      </ul>
                          <a routerLink="/cart" class="cart" href="#">Add to Cart</a>
                      </div>
                  </div>
                  </a>
                  <div class="why-text">
                      <h4>Yellow Top</h4>
                      <h5>700RS</h5>
                  </div>
              </div>
          </div>

          <div class="col-lg-3 col-md-6 special-grid best-seller">
              <div class="products-single fix">
              <a routerLink="/product-details"> <div class="box-img-hover">
                      <div class="type-lb">
                          <p class="sale">Sale</p>
                      </div>
                     <img src="assets/tradb_kid.jpg" class="img-fluid" alt="Image"> 
                      <div class="mask-icon">
                          <ul>
                              <li><a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><img src="https://img.icons8.com/material/24/000000/visible--v1.png"></a></li>
                              <li><a routerLink="/wishlist" href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><img src="https://img.icons8.com/metro/26/000000/like.png"></a></li>
                          </ul>
                          <a routerLink="/cart" class="cart" href="#">Add to Cart</a>
                      </div>
                  </div>
                  </a>
                  <div class="why-text">
                      <h4>Red shinny bag</h4>
                      <h5>800RS</h5>
                  </div>
              </div>
          </div>
      </div>

      <br>
 <a routerLink="/subcat" class="aa-btn">Browse all products</a>
    </div>
</div>
<!-- End Products  -->