


<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img width="500px" height="400px" src="assets/banner2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img width="500px" height="400px" src="assets/slider4.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img width="500px" height="400px" src="assets/slider1.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <br>
  <br>
<div class="row">
  <div class="col-lg-12 shadow-lg p-3 mb-5 bg-dark rounded"></div>
</div>
  
 <section id="aa-promo">
  
  <!-- Start Promo section -->
   
    
      <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-promo-area">
            <div class="row">
              <!-- promo left -->
              <div class="col-md-5 no-padding">                
                <div class="aa-promo-left">
                  <div class="aa-promo-banner">                    
                    <img src="assets/promo1.jpg" alt="img">                    
                    <div class="aa-prom-content">
                      <span class="prom">75% Off</span>
                      <h4><a href="#">For Women</a></h4>                      
                    </div>
                  </div>
                </div>
              </div>
              <!-- promo right -->
              <div class="col-md-7 no-padding">
                <div class="aa-promo-right">
                  <div class="aa-single-promo-right">
                    <div class="aa-promo-banner">                      
                      <img width="400px" src="assets/promo2.jpg" alt="img">                      
                      <div class="aa-prom-content">
                        <span class="prom">Exclusive Item</span>
                        <h4><a href="#">For Men</a></h4>                        
                      </div>
                    </div>
                  </div>
                  <div class="aa-single-promo-right">
                    <div class="aa-promo-banner">                      
                      <img src="assets/promo3.jpg" alt="img">                      
                      <div class="aa-prom-content">
                        <span class="prom">Sale Off</span>
                        <h4><a href="#">On Shoes</a></h4>                        
                      </div>
                    </div>
                  </div>
                  <div class="aa-single-promo-right">
                    <div class="aa-promo-banner">                      
                      <img src="assets/bag.jpg" alt="img">                      
                      <div class="aa-prom-content">
                        <span class="prom">New Arrivals</span>
                        <h4><a href="#">For Kids</a></h4>                        
                      </div>
                    </div>
                  </div>
                  <div class="aa-single-promo-right">
                    <div class="aa-promo-banner">                      
                      <img src="assets/shoes1.jpg" alt="img">                      
                      <div class="aa-prom-content">
                        <span class="prom">25% Off</span>
                        <h4><a href="#">For Bags</a></h4>                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <br>
  <br>
  
  <!-- / Promo section -->

  <div class="banner_bottom_agile_info bg-muted">
    <div class="">
        <div class="banner_bottom_agile_info_inner_w3ls">
               <div class="col-md-6 wthree_banner_bottom_grid_three_left1 grid bg-dark">
                    <figure class="effect-roxy">
                        <img src="assets/bottom1.jpg" alt=" " class="img-responsive" />
                        <figcaption>
                            <h3><span>F</span>all Ahead</h3>
                            <p>New Arrivals</p>
                        </figcaption>			
                    </figure>
                </div>
                 <div class="col-md-6 wthree_banner_bottom_grid_three_left1 grid bg-dark">
                    <figure class="effect-roxy">
                        <img src="assets/bottom2.jpg" alt=" " class="img-responsive" />
                        <figcaption>
                            <h3><span>F</span>all Ahead</h3>
                            <p>New Arrivals</p>
                        </figcaption>			
                    </figure>
                </div>
                <div class="clearfix"></div>
        </div> 
     </div> 
    

  <!-- <section id="categories">    
   
    <div class="row">
        <h2 class="col-lg-12 p-3 mb-5 bg-info rounded text-center">New Arrivals</h2></div>
        <div class="container">
      <div class="row">
            <div class="col-lg-3 text-center" *ngFor="let i of products">      
    
               <img width="200px" height="200px" src= "{{i.imagePath}}" alt="">
                          <a routerLink="/product-details">
                          <h3 class="detail ">
                              {{i.name}}
                          </h3>      
                            </a>
                        <hr>                           
                          </div>     
      </div>
      </div>
    </section> -->
    
  <!-- Start Products  -->
  <div class="products-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                   <h1 class="p-3 mb-5 bg-info rounded text-center">Featured Products</h1> 
                </div>
            </div>
        </div>

      </div>
    </div>

  <!-- Products section -->
<section id="aa-product">
    <div class="container">
      <div class="row">
        
          <div class="row">
            <div class="aa-product-area">
              <div class="aa-product-inner">
                <!-- start prduct navigation -->
                 <ul class="nav nav-tabs aa-products-tab">
                  <!-- <li><a href="#sports" data-toggle="tab">All</a></li> -->
                    <li class="active"><a href="#men" data-toggle="tab">Men</a></li>
                    <li><a href="#women" data-toggle="tab">Women</a></li>
                  <li><a href="#kids" data-toggle="tab">Kids</a></li>
                  </ul>
                  <!-- Tab panes -->
                  <div class="tab-content">
                            <!-- Start men product category -->
                    <div class="tab-pane active" id="men">
                      <ul class="aa-product-catg">
                        <!-- start single product item -->
                        <li *ngFor="let i of products">
                          <figure>
                            <a routerLink="/product-details/{{i._id}}" class="aa-product-img"><img width="200px" height="200px" src="http://localhost:3005/{{i.productImagePath}}" alt="polo shirt img"></a>
                            <a routerLink="/cart" class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                            <figcaption>
                              <h4 class="aa-product-title"><a href="#">{{i.name}}</a></h4>
                              <span class="aa-product-price">{{i.price}}</span>
                            </figcaption>
                          </figure>                        
                          <div class="aa-product-hvr-content">
                            <a routerLink="/wishlist" href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><img src="https://img.icons8.com/metro/26/000000/like.png"></a>
                            <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><img src="https://img.icons8.com/material/24/000000/visible--v1.png"></a>
                          </div>
                          <!-- product badge -->
                          <span class="aa-badge aa-sale" href="#">SALE!</span>
                        </li>
                       
                        
                        
                      </ul>
                      <a routerLink="/subcat" class="aa-browse-btn" href="#">Browse all Product <span class="fa fa-long-arrow-right"></span></a>
                    </div>
                    <!-- / men product category -->

                    <!-- start women product category -->
                    <div class="tab-pane fade" id="women">
                      <ul class="aa-product-catg">
                        <!-- start single product item -->
                        <li *ngFor="let i of products">
                          <figure>
                            <a routerLink="/product-details/{{i._id}}" class="aa-product-img"><img width="200px" height="200px" src="http://localhost:3005/{{i.productImagePath}}" alt=""></a>
                            <a  routerLink="/cart" class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                            <figcaption>
                              <h4 class="aa-product-title"><a href="#">{{i.name}}</a></h4>
                              <span class="aa-product-price">{{i.price}}</span><span class="aa-product-price"><del>1000RS</del></span>
                            </figcaption>
                          </figure>                         
                          <div class="aa-product-hvr-content">
                            <a routerLink="/wishlist" href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><img src="https://img.icons8.com/metro/26/000000/like.png"></a>
                            <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><img src="https://img.icons8.com/material/24/000000/visible--v1.png"></a>
                          </div>
                          <!-- product badge -->
                          <span class="aa-badge aa-sale" href="#">SALE!</span>
                        </li>
                        
                        
                                      
                      </ul>
                      <a routerLink="/subcat" class="aa-browse-btn" href="#">Browse all Product <span class="fa fa-long-arrow-right"></span></a>
                    </div>
                    <!-- / women product category -->

                    <!-- start kids product category -->
                    <div class="tab-pane fade" id="kids">
                       <ul class="aa-product-catg">
                        <!-- start single product item -->
                        <li *ngFor="let i of products">
                          <figure>
                            <a routerLink="/product-details/{{i._id}}" class="aa-product-img"><img  width="200px" height="200px" src="http://localhost:3005/{{i.productImagePath}}"></a>
                            <a routerLink="/cart" class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                            <figcaption>
                              <h4 class="aa-product-title"><a href="#">{{i.name}}</a></h4>
                              <span class="aa-product-price">{{i.price}}</span><span class="aa-product-price"><del>$2050</del></span>
                            </figcaption>
                          </figure>                         
                          <div class="aa-product-hvr-content">
                            <a routerLink="/wishlist" href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><img src="https://img.icons8.com/metro/26/000000/like.png"></a>
                            <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><img src="https://img.icons8.com/material/24/000000/visible--v1.png"></a>
                          </div>
                          <!-- product badge -->
                          <span class="aa-badge aa-sale" href="#">SALE!</span>
                        </li>
                        
                        
                      </ul>
                      <a routerLink="/subcat" class="aa-browse-btn" href="#">Browse all Product <span class="fa fa-long-arrow-right"></span></a>
                    </div>
                    <!-- / kids product category -->
                  </div>

                  <!-- quick view modal -->                  
                  
        
        </div>
      </div>
    </div>
  </div>
</div>
  </section>
  <!-- / Products section -->





<!-- Start Footer  -->

<footer id="f">
  <div class="footer-main">
      <div class="container">
        <div class="row">
              <div class="col-lg-4 col-md-12 col-sm-12">
                  <div class="footer-widget">
                      <h4>About Dimeshop</h4>
                      <p>Tis online shopping is a form of electronic commerce which allows consumers to directly buy goods or services from a seller over the Internet using a web browser. ... When an online store is set up to enable businesses to buy from another businesses, the process is called business-to-business (B2B) online shopping. </p> 							
                  </div>
              </div>
              <div class="col-lg-4 col-md-12 col-sm-12">
                  <div class="footer-link">
                      <h4>Information</h4>
                      <ul>
                          <li> <a href="#">About Us</a> </li>
                          <li> <a href="#">Customer Service</a> </li>
                          <li> <a routerLink="/contact" href="#">Contact Us</a> </li>
                          <li> <a href="#">Terms &amp; Conditions</a> </li>
                          <li> <a href="#">Privacy Policy</a> </li>
                          
                      </ul>
                  </div>
              </div>
              <div class="col-lg-4 col-md-12 col-sm-12">
                  <div class="footer-link-contact">
                      <h4>Contact Us</h4>
                      <ul>
                          <li>
                              <p><i class="fas fa-map-marker-alt"></i>Address: Modern college of engineering<br>Pune-411005 </p>
                          </li>
                          <li>
                              <p><i class="fas fa-phone-square"></i>Phone: <a href="tel:+1-888705770">+1-888 705 770</a></p>
                          </li>
                          <li>
                              <p><i class="fas fa-envelope"></i>Email: <a href="mailto:contactinfo@gmail.com">contactinfo@gmail.com</a></p>
                          </li>
                      </ul>
                  </div>
              </div>
        
      </div>
  </div>
  </div>
  <div class="footer-copyright">
    <p class="footer-company">All Rights Reserved. &copy; 2018 <a href="#">DimeShop</a> 
       </p>
  </div>
</footer>


<!-- End Footer  -->

 